.h100{height: 100%;}
.w100{width: 100%}
.posr{position: relative;}
.mgt10{margin-top: 10px;}
.mgtb10{margin-top:10px;margin-bottom:10px;}
.mgb0{margin-bottom: 0}
.pad0{padding: 0!important}
.padr0{padding-right: 0!important}
.padl0{padding-left: 0!important}
.cpointer{cursor:pointer}
.fz1{font-size:1.5em}
.notallowed{cursor: not-allowed !important;}

.demo{padding-bottom: 20px}
.demo code{font-size: 100%}
.demo h2:first-child{margin-top: 0}
.demo textarea{width: 100%;}
.demo code{display: block;}
#body .navbar{margin-bottom: 10px}
#body .navbar-toggle{margin-right: 0}
.posr{position: relative;}
.left{position: absolute;left: 10px;top: 0;width: 200px;}
.center{margin-left: 220px;margin-right: 10px;padding-top: 1px;}
.info{padding: 0 10px 10px 10px;font-size: 1.2rem;}
.info i{margin-right: 5px}
select.flow-sel{height: 250px;}
.flow-oper button{margin-bottom: 5px;}
.flow-info{padding:5px;border: 1px solid #f0f0f0;border-radius: 5px;}
.flow-info p:last-child{margin-bottom: 0}
@media (max-width: 767px) {
	.left{position: static;width: auto;margin: 0 10px 10px 10px;}
	.center{margin-left: 10px;}
	.flow-oper button{margin-top: 5px;margin-left: 5px;margin-right: 5px;}
	.flow-oper .vbh{display: none;}
}
.github{
	position: absolute;top: 0;right: 0;width: 149px;height: 149px;z-index: 100;
	cursor: pointer;background: url(image/github.png) no-repeat 0 0;display: block;
}