<div class='vb-select-input'>
  <input type='text' class="form-control" :class="cls" :placeholder="placeholder" @keydown="keydown"
    @focus="focus" :readonly="!editable" v-model="text" @blur="blur">
  <div class='vb-select-icon'>
    <i :class="['bi-chevron-' + (showItems ? 'up' : 'down')]" @click="doFocus"></i>
  </div>
</div>
SPLIT
<div class="row vb-select" v-if="!colCls">
  <label v-show="labelText" class="form-label">{{labelText}}</label>
  INPUT
</div>
<div class="row vb-select" v-else>
  <label v-show="labelText" :class="[['col',colCls,labelColSize].join('-')]" class="col-form-label">
    {{labelText}}
  </label>
  <div class='vb-select-content' :class="[['col',colCls,inputColSize].join('-')]">
    INPUT
  </div>
</div>