.doc{padding-bottom: 15px;}
.demo>.panel{margin-bottom: 0;}
.demo .panel-footer{cursor: pointer;}
.demo-code pre{padding:0;margin:0}
.doc .demo:first-child h2{margin-top: 0}


.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}