<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title></title>
		<style media='print' type="text/css">   
			.noprint{display: none;}
		</style>
		<style>
			#inputArea{padding-top: 10px;text-align: center;}
			#inputArea label{display: inline-block;padding: 0 10px;}
			.red{color: red}
			.content{width: 1050px;margin:0px auto;}
			.item{text-align: center;float: left;width: 14.28%;margin-top: 25px;}
			.item-qrcode{border:0px solid #ccc;margin-bottom: 5px;width: 120px;height: 120px;margin:0 auto;}
		</style>
	</head>
	<body>
		<div id='page'>
			<div id='inputArea' class='noprint'>
				<p>
					<select v-model='type'>
						<option value='YMV400-'>YMV400-</option>
						<option value='YMV400-P'>YMV400-P</option>
					</select>
					<input type='number' v-model.number="startCode" placeholder="请输入开始序号">
					<label>
						<input type='radio' name='row' value='56' v-model.number="codeNum">7*8
					</label>
					<label>
						<input type='radio' name='row' value='63' v-model.number="codeNum">7*9
					</label>
					<button v-on:click="excute">生成</button>
				</p>
				<p v-show='typeof startCode === "number"'>
					{{type + paddingZero(startCode) + '~' + type + paddingZero(startCode + codeNum - 1)}}
				</p>
				<p v-show='typeof startCode !== "number"' class='red'>
					请输入数字
				</p>
			</div>
			<div class='content'>
				<div class='item' v-for="el in data">
					<div class='item-qrcode' :data-code='el'></div>
					<div class='item-text'>{{el}}</div>
				</div>
			</div>
		</div>
	</body>
</html>